*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.logo img
{
  position: absolute;
  width: 80px;
}

.navbar
{
  padding-top: 20px;
  transition: top 0.3s;
}

.name
{
  position: absolute;
  top: 680%;
  left: 5.5%;
  display: inline-block;
  font-family: 'Orbitron', sans-serif;
  font-size: 25px;
  color: #333;
  padding: 2px 4px;
}

.name h1 span::selection
{
  color: #000;
}

.text
{
  margin-top: 10px;
  margin-left: 5px;
  display: inline-block;
  font-family: 'Orbitron', sans-serif;
  font-size: 18px;
  border-right: .15em solid orange;
  color: #000000;
  width: 46.5%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(25),
        cursor .4s step-end infinite alternate;
}

.sticky-nav
{
  border-radius: 10px;
  position: fixed;
  left: 35%;
  transform: translate(-50%, -50%);
  top: 3%;
  background-color: rgba(94, 25, 20, 0.3);
  color: #fff;
  z-index: 1000;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  animation: floats 3s ease-in-out infinite alternate;
}

@keyframes floats
{
  0%
  {
    transform: translate(0, 2%);
  }

  50%
  {
    transform: translate(0, 20%);
  }

  100%
  {
    transform: translate(0, 0);
  }
}

.sticky-nav ul
{
  font-size: 12px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.sticky-nav li
{
  margin-right: 20px;
}

.sticky-nav a
{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #000;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-right: 5px;
  padding-left: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.sticky-nav a:hover
{
  background-color: rgb(94, 25, 20, 0.4);
  border: 0.7px solid rgb(0, 0, 0, 0.4);
  color: #fff;
  border-radius: 10px;
  transform: scale(1.3);
}

.sticky-nav.show
{
  opacity: 1;
  pointer-events: all;
}

.wrapper
{
  display: flex;
  position: absolute;
  top: 1140%;
  left: 5.3%;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
}

.wrapper a
{
  text-decoration: none;
}

.wrapper .button .linking
{
  color: #000;
}

.wrapper .button
{
  display: inline-block;
  height: 35px;
  width: 35px;
  float: none;
  overflow: hidden;
  margin: 0 6px;
  background-color: transparent;
  border-radius: 50px;
  cursor: pointer;
  transition: all .3s ease-out;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.wrapper .button:hover
{
  width: 126px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.wrapper .button .icon
{
  display: inline-block;
  text-align: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-sizing: border-box;
  line-height: 32px;
  transition: all .1s ease-out;
}

.wrapper .button .icon i
{
  font-size: 19px;
  color: #333;
  line-height: 37.4px;
  margin-left: 4.7px;
}

.wrapper .button .icon ion-icon
{
  font-size: 19px;
  color: #333;
  margin-top: 8px;
  line-height: 300px;
  margin-left: 4.7px;
}

.wrapper .button:nth-child(1):hover .icon i
{
  color: #4267b2;
}

.wrapper .button:nth-child(4):hover .icon i
{
  color: #1da1fe;
}

.wrapper .button:nth-child(2):hover .icon i
{
  color: #c32aa3;
}

.wrapper .button:nth-child(3):hover .icon i
{
  color: #1da1fe;
}

.wrapper .button:nth-child(5):hover .icon i
{
  color: green;
}

.wrapper .button:hover .icon ion-icon
{
  color: rgb(128, 60, 0);
}

.wrapper .button span
{
  font-size: 17px;
  transition: all .5s ease-out;
  line-height: 40px;
}

@keyframes cursor
{
  50%
  {
    border-color: transparent;
  }
}

@keyframes typing
{
  50%
  {
    width: 0;
  }
}

#bg-video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#loading-screen
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#loading-screen img
{
  width: 410px;
  height: 380px;
}
/* navigation bar */
nav
{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  left: 64%;
  top: 60%;
  font-family: 'Orbitron', sans-serif;
}

nav ul li
{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a
{
  color: #000000;
  text-decoration: none;
  font-size: 15px;
  position: relative;
}

nav ul li a::after
{
  content: '';
  width: 0%;
  height: 3px;
  background-color: #ff2d2d;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after
{
  width: 100%;
}

#about
{
  position: relative;
  top: 100vh;
  background-color: rgb(255, 255, 255);
  width: 195.4vh;
  height: 120vh;
}

::-webkit-scrollbar
{
  width: 6px;
  background: transparent;
}

::-webkit-scrollbar-track
{
  background: rgb(222, 221, 221);
}

::-webkit-scrollbar-thumb
{
  background-color: #a0524c;
  border-radius: 10px;
  height: 1px;
}

#about h1
{
  position: absolute;
  font-size: 45px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Nanum Myeongjo', serif;
  color: #5e1914;
  opacity: 0.8;
  text-align: center;
  margin-top: 60px;
}

#about p
{
  position: absolute;
  top: 8.6%;
  left: 0%;
  font-size: 22px;
  width: 590px;
  height: 330px;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
}

.information
{
  position: absolute;
  top: 19%;
  left: 44%;
  width: 610px;
  height: 305px;
    /* border-left: 1px solid #5e1914;
    border-right: 1px solid #5e1914; */
    /* border-bottom: 1px solid #5e1914; */
  border-radius: 30px;
}

.photo
{
  width: 245px;
  height: 245px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  top: 22%;
  left: 11%;
    /* box-shadow: 0 10px 50px #5e1914; */
  animation: float 3s ease-in-out infinite alternate;
}

.photo img
{
  width: 100%;
  height: auto;
  position: absolute;
  top: 150px;
  transform: scale(3.9);
  left: 28px;
  filter: drop-shadow(0px 5px 10px #5e1914);
  transition: all 0.3s ease-in-out;
}

.photo:hover img
{
  transform: translateX(5px) translateY(40px) scale(4.7);
  filter: drop-shadow(0px 10px 20px #5e1914);
}

@keyframes float
{
  0%
  {
    transform: translate(0, 2%);
    transform: rotate(0deg);
    box-shadow: 0 17px 50px #682f2b;
  }

  50%
  {
    transform: translate(0, 7%);
    box-shadow: 0 30px 250px #682f2b;
  }

  100%
  {
    transform: translate(0, 0);
    transform: rotate(1.5deg);
    box-shadow: 0 10px 420px #682f2b;
  }
}

.line2
{
  position: absolute;
  background-color: #682f2b;
  top: 81.3%;
  height: 4px;
  left: 58.8%;
  opacity: 0.3;
  width: 80.4vh;
  z-index: 1;
}

.edu
{
  position: absolute;
  top: 70%;
}

.about-image
{
  display: flex;
  width: 25.4%;
  top: 81%;
  height: 410px;
  position: absolute;
  left: 6%;
}

.list-education
{
  position: absolute;
  height: 189px;
  width: 400px;
  left: 43.8%;
  top: 90%;
}

.checklist
{
  list-style-image: url(bullet.png);
  list-style-type: square;
  color: #682f2b;
  font-family: 'Average Sans', sans-serif;
  font-size: 16.4px;
  font-weight: 600;
}

.checklist span
{
  color: #000;
}

.checklist li
{
  padding-left: 20px;
  margin-top: -17px;
  padding-bottom: -70px;
}

#experiences
{
  position: relative;
  top: 130vh;
  background-color: rgb(255, 255, 255);
  width: 195.4vh;
  height: 120vh;
}

.line1
{
  position: absolute;
  background-color: #682f2b;
  top: 7%;
  height: 4px;
  width: 40.4%;
  z-index: 1;
  opacity: 0.3;
}

#experiences .experience
{
  position: absolute;
  top: -4%;
}

.weforchangephoto
{
  position: absolute;
  top: 25%;
  border-right: 2px solid black;
  left: 3%;
  width: 12%;
  transition: 0.3s;
}

.weforchangephoto:hover
{
  transform: scale(1.2);
  box-shadow: 0 2px 5px #000;
  position: absolute;
  top: 25%;
  border-right: 2px solid black;
  left: 3%;
}

.weforchangephoto:hover ~ .wename
{
  transform: scale(1.2);
  position: absolute;
  left: 18%;
}

.weforchangephoto:hover ~ .wenamedetail
{
  transform: scale(1.02);
  position: absolute;
  left: 17.5%;
}

.internationalclubphoto:hover
{
  transform: scale(1.2);
  box-shadow: 0 2px 5px #000;
  position: absolute;
  top: 25%;
  border-right: 2px solid black;
  left: 3%;
}

.internationalclubphoto:hover ~ .intname
{
  transform: scale(1.2);
  position: absolute;
  left: 19%;
}

.internationalclubphoto:hover ~ .intnamedetail
{
  transform: scale(1.02);
  position: absolute;
  left: 17.5%;
}

.internationalclubphoto
{
  position: absolute;
  top: 25%;
  margin-top: 100px;
  border-right: 2px solid black;
  left: 3%;
  width: 12%;
  transition: 0.3s;
}

.wename,.intname
{
  position: absolute;
  color: #000000;
  top: 24.5%;
  left: 16%;
    /* font-weight: 900; */
  font-size: 25px;
  font-family: 'Dosis', sans-serif;
  transition: 0.3s;
}

.intname
{
  left: 16%;
  font-size: 25px;
  top: 37%;
  transition: 0.3s;
}

.intnamedetail,.wenamedetail
{
  position: absolute;
  color: #000000;
  top: 24.5%;
  left: 16%;
    /* font-weight: 900; */
  font-size: 25px;
  font-family: 'Dosis', sans-serif;
}

.wenamedetail
{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  top: 29%;
  transition: 0.3s;
}

.intnamedetail
{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  top: 42%;
  transition: 0.3s;
}

.info
{
  position: absolute;
  top: 23%;
  left: 40%;
  width: 60%;
  height: 50px;
  display: none;
}

.welist
{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 1.2;
  font-family: 'Dosis', sans-serif;
  color: #333;
}

.welist li
{
  position: relative;
  padding-left: 38px;
  margin-bottom: 20px;
}

.welist li:before
{
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 2px;
  background-color: #5e1914;
  border-radius: 20px;
  animation: matchstick 0.4s ease-in-out 1;
}

.welist li:after
{
  content: "";
  position: relative;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 20px;
  background-color: #5e1914;
  border-radius: 50%;
  box-shadow: 0 0 10px 5px #5e1914;
  animation: fire 0.5s ease-in-out 1 forwards;
  opacity: 0;
}

.welist li:last-child
{
  margin-bottom: 0;
}

@keyframes matchstick
{
  0%
  {
    width: 0;
  }

  100%
  {
    width: 23px;
  }
}

@keyframes fire
{
  0%
  {
    transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}

::selection
{
  font-weight: 600;
  color: #682f2b;
  background-color: rgb(51, 51, 51, 0.3);
}

.lastfoot
{
  position: relative;
  background-color: #74563c;
  top: 120%;
  padding: 20px 50px;
  width: 100%;
  min-height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lastfoot .social_icon
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.lastfoot .social_icon li
{
  list-style: none;
}

.lastfoot .social_icon li a
{
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.lastfoot .social_icon li a:hover
{
  transform: translateY(-10px);
}

.lastfoot .menu
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.lastfoot .menu li
{
  list-style: none;
}

.lastfoot .menu li a
{
  font-size: 20px;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.lastfoot .menu li a
{
  font-size: 15px;
  color: #ffffff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.7;
  font-family: 'Orbitron', sans-serif;
}

.lastfoot .menu li a:hover
{
  color: #fff;
  opacity: 1;
}

.lastfoot p
{
  width: 10px;
  color: #4267b2;
}

.lastfoot span
{
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.lastfoot .wave
{
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;
}

.lastfoot .wave#wave1
{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

.lastfoot .wave#wave2
{
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

.lastfoot .wave#wave3
{
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

.lastfoot .wave#wave4
{
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave
{
  0%
  {
    background-position-x: 1000px;
  }

  100%
  {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02
{
  0%
  {
    background-position-x: 0px;
  }

  100%
  {
    background-position-x: 1000px;
  }
}

.skills
{
  position: relative;
  top: 125vh;
  display: flex;
  width: 100%;
  height: 90vh;
    /* transition: 0.6s; */;
}
/* .blackline{
    position: absolute;
    width: 100%;
    height: 10px;
    top: 0%;
    background-color: #000;

} */
/* .skills-text{

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-size: 46px;
    font-weight: 700;
    color: #682f2b;
    text-shadow: 0 1px 60px #682f2b;
    border-left: 2px solid #682f2b;
    padding-left: 30px;
    padding-right: 30px;
    border-right: 2px solid #682f2b;
    box-shadow: 0 2px 5px #682f2b;
    border-radius: 40px;
} */
/* .circle{
    position: absolute;
    top: 10%;
    height: 80px;
    width: 80px;
    left: 10%;
    border: 2px solid black;
    border-radius: 50%;
    background-color: rgb(231, 222, 222);
}
.circle#circle1{
    left: 20%;

} */
.camera1
{
  position: absolute;
  display: flex;
  height: 13%;
  width: 10%;
}

.camera2
{
  position: absolute;
  display: flex;
  height: 13%;
  width: 5%;
  left: 94%;
}

.cards
{
  position: absolute;
  top: 31.7%;
  left: 59.5%;
  border-radius: 10px;
  width: 340px;
  height: 250px;
  background: rgba(211, 211, 211, 0.199);
  position: absolute;
  transition: .3s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.3);
}

#c1
{
  background-image: url(about.png);
  background-size: cover;
}

#c2
{
  background-image: url(samipsigdel.png);
  background-size: cover;
}

#c3
{
  background-color: #0f0e0e;
  background-size: cover;
}

#c3:hover
{
  z-index: 1;
}

#c4
{
  background-image: url(dipikabadal.jpg);
  background-size: cover;
}

#c2:hover
{
  z-index: 1;
}

#c1:hover
{
  z-index: 1;
}

.main:hover #c1
{
  transform: translateX(-100px) rotate(-40deg);
}

.main:hover #c2
{
  transform: translateX(-90px) rotate(-30deg);
}

.main:hover #c3
{
  transform: translateX(0) rotate(-20deg);
}

.main:hover #c4
{
  transform: translateX(50px) rotate(-10deg);
}

#c1:hover
{
  transform: translateX(-150px) rotate(0deg) !important;
}

#c2:hover
{
  transform: translateX(-100px) rotate(0deg) !important;
}

#c3:hover
{
  transform: translateX(-50px) rotate(0deg) !important;
}

#c4:hover
{
  transform: translateX(50px) rotate(0deg) !important;
  filter: blur(1px);
}

.main
{
  display: grid;
  height: 50vmax;
  place-items: center;
}

.card
{
  position: absolute;
  top: 30%;
  left: 14%;
  height: 260px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  background-color: rgb(104, 47, 43, 0.5);
  box-shadow: 0 2px 5px rgb(0, 0, 0), 0.5;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid black;
}

.header
{
  font-family: 'Orbitron', sans-serif;
  background-color: #f2ecec;
  color: #0f0e0e;
  padding: 20px;
  text-align: center;
  font-size: 24px;
}

.body
{
  padding: 20px;
}

.skill
{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.skill-name
{
  font-family: 'Orbitron', sans-serif;
  width: 120px;
  font-size: 16px;
}

.skill-level
{
  width: 160px;
  height: 10px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 20px;
}

.skill-percent
{
  background-color: #333;
  height: 100%;
}

.skill-percent-number
{
  font-family: 'Dosis', sans-serif;
  margin-left: 20px;
  font-size: 16px;
}

.main h1
{
  position: absolute;
  top: -5%;
}

.main h2
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  background-color: #f2ecec;
  padding-left: 93px;
  padding-right: 93px;
  border-radius: 6px;
  display: flex;
  left: 59.5%;
  position: absolute;
  top: 25.8%;
}
  






@media (max-width: 480px) {
  header {
    padding: 10px;
  }

  .logo img {
    display: none;
  }

  nav {
    display: none;
    margin-left: -220px;
    margin-top: 100px; /* Reset left position */
    top: auto; /* Reset top position */
    font-size: 18px; /* Increase font size */
  }

  .name {
    font-size: 100px;
    display: inline-block;
    margin-top: 50px;
    margin-left: -45px;
    padding: 80px;
    
  }
  .name span{
    display: block;
    padding-right: 190px;
  }
  .text {
    font-size: 50px;
    width: 100%;
  }

  .wrapper {
   margin-top: 470%;
   margin-left: 30%;

  }
  .wrapper .button {
    padding: 70px;
  }
  .wrapper .button .icon {
    padding: 70px;  
    margin-top: -70px;
    margin-left: -70px;
  }
  .wrapper .button .icon i {
    margin-left: -27px;
    margin-top: -12px;
    font-size: 69px; /* Increase the icon font size */
  }

  .wrapper .button .icon ion-icon {
    font-size: 69px; 
    margin-left: -32px;/* Increase the icon font size */
    margin-top: -25px; /* Adjust margin for better alignment */
    line-height: 30px; /* Adjust line height for vertical alignment */
  }

#about {
  display: none;
  margin-top: 400%;
  
}
#bg-video {
  display: none;
}

}






